# 01. Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [3]:
df_ords_prior = pd.read_csv(r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis\02 Data\Original Data\order_products__prior.csv', index_col = False)

In [4]:
df_ords = pd.read_csv(r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [5]:
path = r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis'

In [6]:
df_ords_prior.count

<bound method DataFrame.count of           order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]>

In [7]:
df_ords.count

<bound method DataFrame.count of          Unnamed: 0.1  Unnamed: 0  order_id  user_id  order_number  \
0                   0           0   2539329        1             1
1                   1           1   2398795        1             2
2                   2           2    473747        1             3
3                   3           3   2254736        1             4
4                   4           4    431534        1             5
...               ...         ...       ...      ...           ...
3421078       3421078     3421078   2266710   206209            10
3421079       3421079     3421079   1854736   206209            11
3421080       3421080     3421080    626363   206209            12
3421081       3421081     3421081   2977660   206209            13
3421082       3421082     3421082    272231   206209            14

         orders_day_of_week  order_hour_of_day  days_since_prior_order
0                         2                  8                    -1.0
1                         3                  7                    15.0
2                         3                 12                    21.0
3                         4                  7                    29.0
4                         4                 15                    28.0
...                     ...                ...                     ...
3421078                   5                 18                    29.0
3421079                   4                 10                    30.0
3421080                   1                 12                    18.0
3421081                   1                 12                     7.0
3421082                   6                 14                    30.0

[3421083 rows x 8 columns]>

# 03. Checking Data

In [7]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 8)

In [10]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,-1.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [11]:
#Dropping unnamed columns
df_ords.drop(columns = ['Unnamed: 0.1','Unnamed: 0'])

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,-1.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [12]:
df_ords = df_ords.drop(columns = ['Unnamed: 0.1','Unnamed: 0'])

In [13]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,-1.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [14]:
df_ords.shape

(3421083, 6)

In [15]:
#Merging the 2 ords
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner', indicator = True)

In [16]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,-1.0,196,1,0,both
1,2539329,1,1,2,8,-1.0,14084,2,0,both
2,2539329,1,1,2,8,-1.0,12427,3,0,both
3,2539329,1,1,2,8,-1.0,26088,4,0,both
4,2539329,1,1,2,8,-1.0,26405,5,0,both

In [17]:
#checking for full match
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [20]:
df_merged_large.shape

(32434489, 10)