# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [2]:
path = r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis'

In [3]:
#importing prepared products
df_prods = pd.read_csv(r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv', index_col = False)

In [4]:
#3 importing ords_prods_combined
df_ords_com = pd.read_pickle(r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [5]:
#4
df_ords_com.shape

(32434489, 10)

#4 this shape is the same as the one I exported before

In [7]:
df_prods = df_prods.drop(columns = 'Unnamed: 0')

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
#getting rid of old _merge column
df_ords_com = df_ords_com.drop(columns = '_merge')

In [10]:
df_ords_com.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,-1.0,196,1,0
1,2539329,1,1,2,8,-1.0,14084,2,0
2,2539329,1,1,2,8,-1.0,12427,3,0
3,2539329,1,1,2,8,-1.0,26088,4,0
4,2539329,1,1,2,8,-1.0,26405,5,0

#5 
for merging the order_products_combined with the products_checked data, I think the best way would be to use the merge command. Since the amount of of columns is different between the two data frames then the appending or concating functions would not be best here.

In [11]:
#merging the data
df_merged = df_ords_com.merge(df_prods, on = 'product_id', indicator = True)

In [12]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,-1.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [14]:
#6 confirming results
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [ ]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'opm.pkl'))