# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
path = r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis'

In [4]:
df_op = pd.read_pickle(r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl')

In [4]:
df_entire = pd.read_pickle(r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis\02 Data\Prepared Data\opm.pkl')

In [7]:
#creating data subset
df_op = df_op[:1000000]

# 03. Code Writing

In [5]:
# Price Label function
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row ['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [11]:
#adding the price range column
df_op['price_range'] = df_op.apply(price_label, axis = 1)

In [16]:
df_op['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [17]:
df_op['prices'].max()

14.8

In [6]:
#price range using loc
df_op.loc[df_op['prices'] > 15, 'price_range_loc'] = 'High range product'

NameError: name 'df_op' is not defined

In [19]:
df_op.loc[(df_op['prices'] <= 15) & (df_op['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [20]:
df_op.loc[df_op['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [21]:
df_op['price_range_loc'].value_counts(dropna = False)

Mid range product    756450
Low range product    243550
Name: price_range_loc, dtype: int64

In [7]:
# applying loc on entire df
df_entire.loc[df_entire['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [8]:
df_entire.loc[(df_entire['prices'] <= 15) & (df_entire['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [9]:
df_entire.loc[df_entire['prices'] > 15, 'price_range_loc'] = 'High range product'

In [10]:
df_entire['price_range_loc'].value_counts(dropna = False)

Mid range product     21860860
Low range product     10126321
High range product      417678
Name: price_range_loc, dtype: int64

In [11]:
# for-loop in entire df
df_entire['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [12]:
result = []

for value in df_entire['orders_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [13]:
#combining result with df
df_entire['busiest day'] = result

In [14]:
df_entire['busiest day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest day, dtype: int64

# 04. Exercise Questions

In [15]:
#2 busiest/slowest days
result = []

for value in df_entire['orders_day_of_week']:
    if value == 0:
        result.append('Busiest days')
    elif value == 1:
        result.append('Busiest days')
    elif value == 4:
        result.append('Slowest days')
    elif value == 3:
        result.append('Slowest days')
    else:
        result.append('Regularly busy')

In [16]:
df_entire['busiest days'] = result

In [17]:
#3
df_entire['busiest days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest days, dtype: int64

#3
With the addition of sunday or '1' to our busiest days that almost doubled our total and is really close to surpasing the amount in regularly busy days. With the slowest days we added Tuesday or '3' which basically doubled the value but is still the lowest amount compared to our busiest and regular days which makes sence since there are the least amount of orders on those 2 days.

In [18]:
#4 finding what hour of days is busiest/slowest
df_entire['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [19]:
#4 creating time periods
result2 = []

for value in df_entire['order_hour_of_day']:
    if value == 10:
        result2.append('Most orders')
    elif value == 11:
        result2.append('Most orders')
    elif value == 14:
        result2.append('Most orders')
    elif value == 15:
        result2.append('Most orders')
    elif value == 13:
        result2.append('Most orders')
    elif value == 12:
        result2.append('Most orders')
    elif value == 16:
        result2.append('Most orders')
    elif value == 9:
        result2.append('Most orders')
    elif value == 23:
        result2.append('Fewest orders')
    elif value == 6:
        result2.append('Fewest orders')
    elif value == 0:
        result2.append('Fewest orders')
    elif value == 1:
        result2.append('Fewest orders')
    elif value == 5:
        result2.append('Fewest orders')
    elif value == 2:
        result2.append('Fewest orders')
    elif value == 4:
        result2.append('Fewest orders')
    elif value == 3:
        result2.append('Fewest orders')
    else:
        result2.append('Average orders')

In [20]:
#4 putting column in df
df_entire['busiest_period_of_day'] = result2

In [21]:
#4 counting values in column
df_entire['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [22]:
#7
df_entire.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'opm.pkl'))