# 01. Import Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis'

In [3]:
customers = pd.read_csv(r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis\02 Data\Original Data\customers.csv', index_col = False)

In [4]:
customers.shape

(206209, 10)

In [5]:
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [6]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

# 02. Data Wrangling

In [7]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [8]:
# renaming columns
customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [9]:
customers.rename(columns = {'Surnam' : 'last_name'}, inplace = True)

In [10]:
customers.rename(columns = {'STATE' : 'state'}, inplace = True)

In [11]:
customers.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [12]:
customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [13]:
# checking column renaming
customers.head()

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [14]:
# changing user id data type
customers['user_id'] = customers['user_id'].astype('str')

In [15]:
# checking data type change
customers['user_id'].dtype

dtype('O')

# 03. Data Consistency Checks

In [16]:
#checking for mixed data types
for col in customers.columns.tolist():
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

first_name

In [17]:
#fixing mixed data type
customers['first_name'] = customers['first_name'].astype('str')

In [18]:
#checking missing values
customers.isnull().sum()

user_id         0
first_name      0
last_name       0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

#looks like there arent any missing values so nothing to fix here

In [19]:
#checking for duplicates
c_dups = customers[customers.duplicated()]

In [20]:
c_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

In [22]:
customers.shape

(206209, 10)

#no duplicates so nothing to fix here

In [27]:
#export data
customers.to_csv(os.path.join(path, '02 Data','Prepared Data', 'customers.csv'))

# 04. Combining Data

In [3]:
#importing ords_prods_merge
ords_prods_merge = pd.read_pickle(r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis\02 Data\Prepared Data\opm.pkl')

In [4]:
#checking user_id dtype
ords_prods_merge['user_id'].dtype

dtype('int64')

#this is different than the customer df so well need to change it

In [5]:
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('str')

In [6]:
ords_prods_merge['user_id'].dtype

dtype('O')

In [28]:
customers['user_id'].dtype

dtype('O')

#key columns are now the same data type

In [29]:
ords_prods_merge.shape

(32404859, 24)

In [31]:
#cleaning ords_prods_merge
ords_prods_merge = ords_prods_merge.drop(columns = ['_merge','busiest day'])

In [34]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 22 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 object
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  price_range_loc         object
 14  busiest days            object
 15  busiest_period_of_day   object
 16  max_order               int64
 17  loyalty_flag            object
 18  average_price           float64
 19  spending_flag           object
 20  median_days             float64
 21  order_freq_flag         object
dtypes: float64(4), int64(10), object(8)
memory usage: 5.6+ GB

In [3]:
customers = pd.read_csv(r'C:\Users\byl19\Downloads\02-2023 Instacart Basket Analysis\02 Data\Prepared Data\customers.csv', index_col = False)

In [33]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'opm.pkl'))

In [36]:
merged = customers.merge(ords_prods_merge, on = 'user_id')

In [37]:
merged.head()

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income,...,prices,price_range_loc,busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days,order_freq_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,9.0,Mid range product,Busiest days,Most orders,8,New custsomer,7.988889,Low spender,19.0,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,9.0,Mid range product,Regularly busy,Most orders,8,New custsomer,7.988889,Low spender,19.0,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,9.0,Mid range product,Busiest days,Most orders,8,New custsomer,7.988889,Low spender,19.0,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,12.6,Mid range product,Regularly busy,Most orders,8,New custsomer,7.988889,Low spender,19.0,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,12.6,Mid range product,Slowest days,Most orders,8,New custsomer,7.988889,Low spender,19.0,Regular customer

In [38]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   first_name              object
 2   last_name               object
 3   gender                  object
 4   state                   object
 5   age                     int64
 6   date_joined             object
 7   n_dependants            int64
 8   fam_status              object
 9   income                  int64
 10  order_id                int64
 11  order_number            int64
 12  orders_day_of_week      int64
 13  order_hour_of_day       int64
 14  days_since_prior_order  float64
 15  product_id              int64
 16  add_to_cart_order       int64
 17  reordered               int64
 18  product_name            object
 19  aisle_id                int64
 20  department_id           int64
 21  prices                  float64
 22  price_range_loc         object
 23  busiest days            object
 24  busiest_period_of_day   object
 25  max_order               int64
 26  loyalty_flag            object
 27  average_price           float64
 28  spending_flag           object
 29  median_days             float64
 30  order_freq_flag         object
dtypes: float64(4), int64(13), object(14)
memory usage: 7.7+ GB

In [39]:
merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'merged.pkl'))